<!DOCTYPE html>
<html>
    <body>
        <div id="map"></div>
        <link rel=stylesheet type="text/css" href="/css/nearby_search.css">
        <link rel=stylesheet type="text/css" href="/css/search_bar.css">
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/jquery-3.2.0.js"></script>
        <script type="text/javascript" src="/js/search_bar.js"></script>
        <script type="text/javascript" src="/js/nearby_search.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUskRwMCXWvs6l5EIJu48d7YSsMJjvtws&libraries=places"></script>
        
        <div id="place_info_wrapper">
            <div id="hero-header-wrapper"><img></img></div>
            <div id="place-basic-info-wrapper">
                <div id="place-basic-info">
                    <div class="place-name info-text"></div>
                    <div class="place-review-score info-text"></div>
                    <div class="place-type info-text"></div>
                </div>
            </div>

            <button class="place-info-visibility-toggle">
                <div class="triangle-icon left">
            </button>
        </div>
    </body>
</html> 

